img {
  width: 60%;
  align-self: center;
}

.row {
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding: 20px;
}

.container {
  justify-content: center;
}
.details {
  font-size: 20px;
  color: #03a3e3;
  padding: 20px;
}

.title {
  font-size: 20px;
  background-color: #03a3e3;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.homepage_links {
  color:  #dddddd;
  padding: 25%;
  font-size: larger;
}

.loginlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

#loginlogout {
	color: #dddddd;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.btn-outline-success {
	border: 1px solid #1d7cd1;
	color: #1d7cd1;
}
.btn-outline-success:hover {
	background-color: #1d7cd1;
	color: white;
}

.navitems {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item {
  margin-left:15px;
  font-size: 20px;
  color: #dddddd;
  align-self: center;
}

.username {
  font: 30px sans-serif;
  color: black;
  justify-content: flex-end;
  align-self: flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header {
  font: 30px sans-serif;
  color: white;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width: 40px;
    background-color: #00aef2;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999999;  
}
.contact-container{
    display:flex;
    padding: 25px;
 
 
}
.contact {
    color: blue;
    text-align: center;
	padding-bottom: 25px; 
}
.contact-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#header {
	color: #dddddd;
}
 
body {
	margin: 0;
	color: #dddddd;
	background-color: #161920;
}

.page-content {
	margin-top: 10px;
}
.solid {
	opacity: 1 !important;
}
 
.tape-wrapper {
	position: relative;
	width:600px;
	height: 600px;
}
.tape-box {
	opacity: 0.95; 
	background-color: rgba(31,39,51,1);
	padding-top: 80px;
	text-align: center;
	border-radius: 15px;
	position: absolute;
	width: 250px;
	height: 250px;
	z-index: 1;
 	left: 180px;
	top: 190px;
}
.tape-button {
	height: 38px;
	width: 120px;
	position: absolute;
	opacity: 1;
	background-color: #273b4b;
	color: #ededed;
	border-radius: 5px;
	left: 252px;
	top: 332px;
	color: #ededed;
	padding: 4px;
	text-align: center;
	z-index: 2;
 
}
.tape-button a {
	text-decoration:none;	 
	color: #ededed;
}
.tape-bg {
	width:600px;
	height:600px;
	background-image: url("../assets/tapes.jpg");
	background-size: cover;
	border-radius: 5px;
}

.hidden {
	visibility: hidden;
}

.bg-dark {
	background-color: #1f2733 !important;
	border-bottom: 1px solid #394353;
}